python==3.10.*
arcgis
argon2-cffi
async-generator
attrs
backcall
bleach
bottle
certifi
cffi
chardet
cryptography
cycler
decorator
defusedxml
dnspython
email-validator
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jeepney
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
keyring
kiwisolver
lerc
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
ntlm-auth
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
phonenumbers
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
pyshp
python-dateutil
pytz
pyzmq
requests
requests-ntlm
requests-oauthlib
requests-toolbelt
SecretStorage
Send2Trash
six
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
zipp